<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.nedprod.com/xhtml1-strict-with-html5-microdata.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Campfireliving</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="apple-touch-icon" sizes="57x57" href="https://assets3.holidale.us/assets/apple-icon-57x57-d1209eb8dc5fa8be95e98b1ef0ae4633775d797444902962ce4b1a902503eced.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://assets3.holidale.us/assets/apple-icon-60x60-59ff96c199db9c9b07b3f0738f5e8e9f9c07ce1219cb28dafbd3e147e2ae8483.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://assets3.holidale.us/assets/apple-icon-72x72-866dbeb2968a1e1ab6c50a94430e63426034f899f141189cf281e96f046df85b.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://assets2.holidale.us/assets/apple-icon-76x76-a31b7178ffd4d9436fd35e450e6622f59b3e0408e92b29deb4ee2f21fda0230b.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://assets1.holidale.us/assets/apple-icon-114x114-d9d82c7761ca25a5f36c8f2af1445a83c1a11ba12c30da2bd6ec7d957266b3cd.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://assets1.holidale.us/assets/apple-icon-120x120-86819ce5e3af660c56ffa2238db32828d4e2658f6ced7c2b3d667c5c21c5c246.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://assets1.holidale.us/assets/apple-icon-144x144-1d626a7b47f60a11c529cc8df741757342f74f958f00e7e341e75fd20d04ce8d.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://assets3.holidale.us/assets/apple-icon-152x152-c92330f319b3130e2c44f307db4f87aa17b8c89d0f6be7d20711763791f437f5.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://assets3.holidale.us/assets/apple-icon-180x180-fde1516438f4a6fc5f00c1a402b62415a771ac62a780b2dd290b30a80092c8ec.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://assets3.holidale.us/assets/android-icon-192x192-279b33c05f6354e22d2876b997af6a929c7a1f79b14078305d417cc58d562c99.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://assets3.holidale.us/assets/ms-icon-144x144-1d626a7b47f60a11c529cc8df741757342f74f958f00e7e341e75fd20d04ce8d.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="ty-BjRkijAGSwhtcjab1rKFq8AKMXDKw9YKfnndVAgY" />
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link rel='preload' href='https://fonts.googleapis.com/css?family=Roboto:400,700+https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' as="style" onload="this.rel='stylesheet'">
  <noscript><link href='https://fonts.googleapis.com/css?family=Roboto:400,700+https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'></noscript>

  <link rel="stylesheet" media="all" href="https://assets2.holidale.us/assets/application-8859a7202a6c123516b096be22e7505bb95d033b0172a19d9bca7eabd0d7bd60.css" />
  <!--<script src="https://assets3.holidale.us/assets/application-78078184b94b587bbf14b2705c11da138518d3c75814cf389428c2f4f4c06cc2.js"></script>-->
  <link rel="shortcut icon" type="image/x-icon" href="https://assets1.holidale.us/assets/favicon-a7e2cddd2ee44e38c88398702d5b71b8f7284db38cc35e2ee4e5ddbdb1f577c0.ico" />

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="pH/+VvEmNxNEEq+dTPLUJb4PnTa97LR9VN7QSrZm4BjM14WshFf29IIUmP9gydy07C862l6w0HW5qYT4sk/SoQ==" />
  <meta name="description" content="Holidale - A property management company in Irvine, CA offering short term and long term vacation rental. Book online or call for more details" />
  <meta name="keywords" content="property management company irvine,property management company irvine ca,property management companies irvine,property management companies irvine ca,irvine property management company" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  </head>

  <body>
  <div class="new-landind-image" style="text-align:center;vertical-align: middle;">
     <div class="new-landing-head">
     <h1 style="font-size: 2.3em !important;
     letter-spacing: 2px;line-height: 1; 
     display: block;
    font-size: 2em; color : #545454;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;text-shadow: 0 1px 3px rgba(0,0,0,0.7); padding-top: 150px;  
    font-family: Circular,'Helvetica Neue',Helvetica,Arial,sans-serif;">Find or Provide <br/>A Perfect Place to Stay</h1><div>
  </div>
  <a href="#HouseProviderTag">
 <div class="btn btn-default btn-success photos-count">
    <span class="viewpics">Provide a rental</span>
  </div>
  </a>
  <a href="#HouseNeededTag">
  <div class="btn btn-default btn-success photos-count">
    <span class="viewpics">Need a rental</span>
  </div>
  </a>
  <div style="height:200px;"></div>
  <div style="background-image: url('/assets/images/bggp.jpg');"> 
  <%= render 'shared/flash_messages' if !flash.empty? %>

  <div style="padding-top:50px;"></div>
    
  <hr style="border:1px double gray" width="80%" color=gray SIZE=1>
  <div><%=render "home/house_provider"%></div>

  <hr style="border:1px double gray" width="80%" color=gray SIZE=1>
  <div style="margin-top:70px;"><%=render "home/house_needed"%></div>

  <div><%=render "home/search"%></div>
        <%= yield %>

  </div>

  <div class="contact" style="line-height: 2; margin-top:30px;">
                <div style="opacity: 0.5;letter-spacing: 2px;text-decoration: none;">
                 <span>9 Corporate Park, Ste 130<br>
                    Irvine CA 92606</span><br>
              <span style="font-size: 0.875em;font-weight: 700;letter-spacing: 3px;line-height: 1.2; margin-right: 8px;">PHONE -</span>
                 <span><a href="tel:1-855-346-3050" id="phone-number-1"><span id="navis-tfn">(855) 346-3050</span></a>
                 <script>SetElementToNavisNCPhoneNumber("navis-tfn");</script><br>
              <span style="margin-top: 8px;"> This Website maintained by the Holidale.com in collaboration with other local non-profit groups.
              </span>
              </span>
               </div>
            </div>
</div>


  </body>
</html>
